.heading {
  &-sm {
    font-size: 16px;
  }
  &-md {
    font-size: 20px;
  }
}

.heart {
  display: inline-block;
  color: $heart;
  margin: 0 5px;
}

.copyright {
  font-size: 18px;
  a {
    display: inline-block;
    color: $white;
    margin: 0 5px;
    &:hover {
      color: $heart;
    }
  }
}
